*.tmproj
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp/*
dependencies
resources
secret.json
*.log

# YARD artifacts
.yardoc
_yardoc
doc/
