!!!
%html
  %head
    %title 3D Delta Window Walker
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    %style{:type => "text/css", :media => "screen"}
      :plain
        .doc_sub1header {
          font-family:"Times New Roman", Times, serif;
          font-size: 11pt;
          font-weight: bold; 
        }
        .doc_body {
          font-family:"Times New Roman", Times, serif;
          font-size: 10pt;
          font-weight: normal;
          margin-bottom: 10.2pt; 
        }
  %body
    #application
      .doc_sub1header="Web service mode: "
      .doc_body="Send a POST request to this service at /delta3d_svg, the request body of which should contain a JSON string, formatted as follows:"
      .doc_body="{ line: { position: { token: [ lemma1, lemma2, ...] } }"
      .doc_body="The service will return you an Delta plot in svg"
      .doc_sub1header="Interactive mode: "
      .doc_body="Not implemented yet"