<!DOCTYPE html>
<html>
    <head>
        <title>3D Delta Window Walker</title>
        <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
        <link rel="stylesheet" href="style.css" type="text/css" media="screen" />
        <script type="text/javascript" src="jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="jquery.svg.min.js"></script>
        <script type="text/javascript" src="plupload.js"></script>
        <script type="text/javascript" src="plupload.html4.js"></script>
    </head>
<body>
<%= yield %>
</body>
</html>